@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap');
@import "tailwindcss";

.orbitron-200 {
  font-family: 'Orbitron';
  font-weight: 200;
}

.orbitron-400 {
  font-family: 'Orbitron';
  font-weight: 400;
}

.orbitron-700 {
  font-family: 'Orbitron';
  font-weight: 700;
}

.orbitron-900 {
  font-family: 'Orbitron';
  font-weight: 900;
}

.michroma-200 {
  font-family: 'Michroma';
  font-weight: 200;
}

.michroma-400 {
  font-family: 'Michroma';
  font-weight: 400;
}

.michroma-700 {
  font-family: 'Michroma';
  font-weight: 700;
}

.michroma-900 {
  font-family: 'Michroma';
  font-weight: 900;
}

.oxanium-200 {
  font-family: 'Oxanium';
  font-weight: 200;
}

.oxanium-400 {
  font-family: 'Oxanium';
  font-weight: 400;
}

.oxanium-700 {
  font-family: 'Oxanium';
  font-weight: 700;
}

.oxanium-900 {
  font-family: 'Oxanium';
  font-weight: 900;
}

placeholder-oxanium::placeholder {
  font-family: 'Oxanium';
}